body {
    margin: 0;
    height: 100%;
    background: #c4c4c4;
}

a {
    text-decoration: none;
    color: black;
}

.bottom-nav {
    background: #c3bebe;
    line-height: 22px;
}

.nav-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 50px;
}

.nav-item {
    list-style-type: none;
    font-size: 16px;
    height: 100%;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #d7d1d1;
}

.taniti-brand > img {
    height: 10em;
    width: 10em;
}

.taniti-search {
    margin-right: 1em;
}

.content {
    min-height: calc(100vh - 18em);
    padding: 6em;
    width: 80%;
    margin: 0 auto 2px auto;
}

.footer {
    height: 50px;
    text-align: center;
    background-color: #d7d1d1;
}

footer {
    line-height: 50px;
}

.active {
    background-color: #d7d1d1;
}
